/*background*/
body {
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
}

.bodytype {
  background-color:#D9D9D9 ;
  display: block;
  margin: 1px;
}


h1 {
font-size: 500%;  
}


p {
  font-size: 200%;
}


.hero-txt{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}


.jacques-francois-regular {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-uniquifier {
  font-family: "Inter", serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  padding: 4px;
  text-align: center;
  background: #083782;
  color: white;
  font-size: 30px;
}

/* the nav across the screen*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  text-align: center;
  overflow: hidden;
  background-color: #ddd;
}


nav li {
  list-style-type: none;
  display: inline-block;
  color: black;
  text-decoration: none;
  /* align-content: row; */
  text-align: center;
}


nav a {
float: left;
text-align: center;
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 0.65em;
font-family: "Inter", serif;
font-weight: 400;
font-optical-sizing: auto;
font-style: normal;
}


nav a:hover {
background-color: rgb(153, 17, 17);
color: black;
}


nav a.active {
background-color: #04AA6D;
color: white;
}
nav img {
display:flex;
width: 50px;
height: 50px;
}
.logo{
float: left;
max-width: 100px;  
}
.logo-foot {

max-width: 120px;


}
.trionttl {
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}
 /*Flash*/
.flash-div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 32vh;
}

.trionttl, .trion-img {
  margin: 0;
}

/*Home*/
.info {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-stretch: 200%;
  font-size: large;
  margin-bottom: 30px;
  float: right;
  right: 0;
}

.lastkpicn{
  width: 100%;
  height: 90%;
}

.lastkpicpr{
  width: 200%;
  height: 90%;
}
.home-main {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.home-main1 {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.big-car-img {
  width: 38%;
  margin-left: 5vw;
}

.big-car {
  width: 50%;
}

/* Remove extra left and right margins, due to padding in columns */
.home-main {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.home-main:after {
  content: "";
  display: table;
  clear: both;
}

.home-main, .home-main > .home-card {
padding: 8px;
}

.home-cards {
  display: flex;
}

.home-card{
  float: left;
  width: 25%;
  background-color: white;
  padding: 0.5%;
  margin: 0 4%;
  border: 2px solid black;
}

.home-card h3 {
  text-decoration: none;
  color: black;
}

.car-pages-card {
  float: left;
  width: 25%;
  background-color: white;
  padding: 0.5%;
  margin: 0 4%;
  height: 49vh;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
}

.car-pages-card > p {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
}

/*Nemesis*/



/* the icon for the person to make an account*/
.icon{
float: right;
max-width: 100px;
}


.navbar-footer-nav {
overflow: hidden;

bottom: 0;
width: 100%;
}


.navbar-footer-nav a {
display: inline-block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color: #c9c8c8;
}


.navbar-footer-nav a:hover {
background: #be1b1b;
color: black;
}

footer {
display: flex;
flex-direction: row;
background-color: #c9c8c8;
}


.navbar-footer-nav {
display: flex;
flex-direction: column;
flex-basis: 25%;
background-color: #c9c8c8;
}


* {
box-sizing: border-box;
}

/* Center website */
.main {
max-width: 1000px;
margin: auto;
}


h1 {
font-size: 50px;
word-break: break-all;
}


.row {
margin: 8px -16px;
}


/* Clear floats after rows */
.row:after {
content: "";
display: table;
clear: both;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
.column {
  width: 100%;
}
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
}
 

/* Float four columns side by side */
.column1 {
  float: left;
  width: 25%;
  height: 25%;
  padding: 50px 10px;
}

/* Remove extra left and right margins, due to padding */
.row1 {margin: 0 -5px;}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.footer-text {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  align-self: center;
  padding: 0 0 0 8vw;
}

.copyright {
  font-size: medium;
  width: 15%;
  align-self: end;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*merch*/
/* Style the counter cards */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  width: 100%;

}
.mens {
  height: 720px;
  width: 450px;
}

.column2 {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row2::after {
  content: "";
  clear: both;
  display: table;
}

.column3 {
  float: left;
  width: 25%;
  padding: 5px;
}

.row3 , .row2 {
  padding: 0%;
}
/* Clearfix (clear floats) */
.row3::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-image: url(Background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cardpr {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-right: 0px;
 
}

.cardpr:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Merch Preview*/
.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-top: 8px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrowpr {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 14px;
  margin-top: 9px;
}
.leftpr {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.merch-preview-main {
  display: flex;
  justify-content: space-around;
}

.preview-main {
  display: flex;
  flex-flow: column;
  width: 39.5%;
}

.merch-preview-img {
  width: 100%
}

[class^=row-m] {
  display: flex;
}

[class^=a-p] {
  width: 100%;
  padding: 1%;
  margin-right: 9%;
  background-color: white;
  border: solid black 1px;
}

.merch-preview-big {
  width: 26%;
  background-color: white;
  padding: 1%;
  border: solid 1px black;
}

.size-table {
  display: flex;
  justify-content: space-around;
 
}
.size-table p {
  background-color: #c9c8c8;
  border: solid black 1px;
}

.button3 {
  background-color: white; 
  color: black; 
  
}

.button3:hover {
  color: white;
}

.click:focus{
  color: red;
}

/*Button css*/
.wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.button {
  width: 88px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #c9c8c8;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #ff91a4;
  box-shadow: 0px 15px 20px #cf5e71;
  color: white;
  transform: translateY(-4px);
}

.half-page-bg {
  height: 50vh;
  width: 50vh;
  size: cover;
  position: center;
}

.other-half {
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery {
  display: flex;
  width: 1000px;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 80%;
}

.rowco {
  display: flex;
  flex-flow: column;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.containerco {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 17vw;
  margin: 20px 0;
}

.icon-container p {
  margin: 0;
  padding: 0; 
  font-size: 1.1em;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .rowco {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.car-pages-card1 {
  float: left;
  width: 25%;
  background-color: white;
  padding: 0.5%;
  margin: 0 4%;
  height: 50vh;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
}

.car-pages-card1 > p {
  font-family: "Jacques Francois", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
}

/*Configure*/
.config-ext {
  background-color: #C9C8C8;
  height: 7vh;
  width: 14.5vw;
}
.config-int {
  position: relative;
  top: 8%;
  right: -1.6%;
  height: 6vh;
  width: 14vw;
}

div.background {
  background: white url(images/white-car.png) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 1500px;
}

div.transbox {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
}
.colorscon{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin-bottom: 12%;
  position: relative;
  right: -3vw;
  bottom: -2vh;
  justify-content: space-around;
  margin-bottom: 1em;
  }
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.buttoncon {
  display:flex;
  width: 145px; ;
  font-size:31px;
  text-align: center ;


}

.bttnacc{
width: 50%;
height: 5vh;
font-size: medium;
text-align: center;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 1px 1px 0 rgba(0,0,0,0.19);
align-items: center;
padding-top: 10px;
position: relative;
left: 23vw;
}

.buttonconcu{
  width: 235px; ;
  font-size:31px;
  text-align: center ;
  margin-top: 3%;
  margin-left: 253px;
}
div.backgroundr {
  background: white url(images/red-car.png) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 1500px;
}

div.transboxr {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
}
div.backgroundy {
  background: white url(images/yellow-car.png) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 1500px;
}

div.transboxy {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
}
div.backgroundb {
  background: white url(images/blue-car.png) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 1500px;
}

div.transboxb {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
}
div.backgroundbk {
  background: white url(images/black-car.png) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 1500px;
}

div.transboxbk {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/white-car.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.checkout-container {
  /* background-color: red; */
  max-width: 120rem;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  /* margin-bottom: 10rem; */
}

em {
  font-style: normal;
  font-weight: 700;
}

hr {
  color: #fff;
  margin-bottom: 1.2rem;
}

/* Left Side Of Container */
.left-side {
  background: url(images/white-car.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.left-sider {
  background: url(images/red-car.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.left-sidey {
  background: url(images/yellow-car.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.left-sidebl {
  background: url(images/blue-car.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.left-sidebk {
  background: url(images/black-car.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.text-box {
  background: rgba(95, 121, 134, 0.8);
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
}

/* Left container text */

.home-heading {
  color: #e8e8e1;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.home-price {
  color: #aeae97;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.home-desc {
  color: #e8e8e1;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* Right Side of container */

.right-side {
  background-color: #fff;
  padding: 1.8rem 3.2rem;
}

.receipt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: solid 1px;
  margin-bottom: 1rem;
}

.receipt-heading {
  font-size: 1.6rem;
  text-align: left;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  color: #64645f;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.total td {
  font-size: 1.4rem;
  font-weight: 700;
}

.price {
  text-align: end;
}

/* Payment Section */

.payment-heading {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.form-box {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.card-logo {
  font-size: 2rem;
}

.expires,
.form-box label {
  font-size: 1.2rem;
  font-weight: 700;
}

.form-box input {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
}

.form-box select {
  padding: 0.5rem;
}

.form-box #cvv {
  width: 25%;
}

.cvv-info:link,
.cvv-info:visited {
  color: inherit;
  text-decoration: underline;
}

.cvv-info:hover,
.cvv-info:active {
  color: #5f7986;
  text-decoration: none;
}

.btn {
  background-color: #4c616b;
  border: none;
  border-radius: 8px;
  color: #eff2f3;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #5f7986;
  transition: ease-out 0.1s;
}

.footer-text {
  font-size: 1rem;
  text-align: center;
}

.form-box *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(139, 139, 107, 0.5);
  border-radius: 8px;
}

.footer1 {
  position: absolute;
  bottom: -70%;
}
/*pop up page*/
.box {
  
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box a {
  text-decoration: none;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  background: white;
  padding: 1em 2em;
  border-radius: 4px;
  border: #000 1px solid;
}

.modal:target {
  display: flex;
}
/*pop up up*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/*popuppagetestruns*/
.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.popup:target {
  display: flex;
}